.moda{
    background-color: #BB86FC;
    color: white;
    text-align: center;
}
td{
    background-color: #424250;
    color: white;
    text-align: center;
}
.casa{
    background-color: #00C4B4;
}